div{
    background-color: aquamarine;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
    
}

nav li:hover{
    background-color: rgb(131, 142, 141);

}
footer {
text-align: center;
}

header{
text-align: center;
}